/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

:root {
    --primary-color: #eeeeee;
    --secondary-color: #acc6aa;
    --button-color: #71a0a5;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Open Sans', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

p {
    font-size: 30px;
}

p, .about-description {
    font-size: 17px;
}

h2 {
    font-size: 60px;;
}

.bg-lipka {
    background-color: var(--primary-color);
}

.hero {
    text-align: center;
    background: var(--secondary-color);
    padding: 80px 20px;
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-size: 76px;
    font-weight: bold;
}

.hero h2 {
    font-size: 30px;
    font-weight: 600;
}

.hero h3 {
    font-size: 22px;
    padding-top: 20px;
}

.btn-branding-lipka {
    color: white;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-primary-lipka {
    color: white;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
}

.featurette-divider {
    margin: 4rem 0;
    background: var(--secondary-color);
}

.divider-footer {
    margin-bottom: 2rem;
}

.footer p {
    font-size: 12px;
}

.social-media-icons{
    display: block;
    justify-content: space-evenly;
}

.social-media-icons a{
    color: var(--button-color);
}

.avatar {
    display: flex;
    margin-right: 20px;
    float: left;
}

.img-fluid {
    max-width: 85%;
    height: auto;
}

.skillset {
    display: flex;
    flex-wrap: wrap;
}

.center {
    text-align: center;  
    margin: 0 auto;
    display: block;  
}

.skills-title {
    text-align: center;
    font-size: 20px;
}

.certificate {
    margin: 0 auto;
}

.skills-certificate {
    display: flex;
}

.lipka-connect {
    text-align: center;
}

@media (min-width: 765px) {
    
    btn-branding-lipka {
        font-size: 18px;
        line-height: 27px;
        padding: 10px 15px;
    }

    .footer p {
        font-size: 14px;
    }
   
}

@media (max-width: 765px) {
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    p, .about-description {
        font-size: 12px;
    }

    .btn-branding-lipka {
        font-size: 12px;
        line-height: 27px;
        padding: 8px 10px;
    }

    .footer p {
        font-size: 10px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero h1 {
        font-size: 56px;
    }

    .hero h3 {
        font-size: 20px;
    }
    
    .featurette-divider {
        margin: 2rem 0;
    }

    .skills-certificate {
        flex-direction: column;
    }

    .skills {
        width:100%;
    }

    .certification {
        width: 100%;
        margin-top: 2rem;
    }

    .project-button-up {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .project-button-down {
        font-size: 12px;
    }

    .get-contact-info {
        width: 100%;
        text-align: center;
        margin-top: none;
    }

    .get-contact-illustration{
        width: 100%;
        text-align: center;
    }
}